
.task-manager {
  margin: auto;
  max-width: 500px;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: bisque;
}

.task-input {
  display: flex;
  margin-bottom: 20px;
}


.task-input input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  
}

.task-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-bottom: 20px;
  
}

.task-filters button {
  margin-right: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  
}

.task-item.completed {
  text-decoration:line-through;
  
  
}

.task-item input {
  margin-right: 10px;
  
}

.task-item button {
  margin-left: 10px;
  border: 1px solid #000;
  
}

.h1 {
  text-align: center;
}
